{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">What is your juggling character name?
      </h1>

      <form class="form" action="check-your-answers" method="post">

      <div class="form-group">
        <p><label class="form-label" for="ni-number">
  Juggling character name
  <span class="form-hint">
    It must begin with the letter 'j'
    <br>
    For example, ‘Jolly John, Jerry the Juggler, Jubilant Jane’
  </span>
      </div>

</label>
<input class="form-control" id="juggling-name" type="text" name="juggling-name"></p>

        <p></p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
